<form id="reset-password-form">
    <input type="hidden" name="code" id="code"  value="{{code}}">
    <input type="password" name="newPassword" id="newPassword" required>
    <button type="submit">Reset Password</button>
</form>

<script>
    const resetPasswordForm = document.getElementById('reset-password-form');
    resetPasswordForm.addEventListener('submit', async (e) => {
        e.preventDefault();
        const code = document.getElementById('code').value;
        const newPassword = document.getElementById('newPassword').value;
        const response = await fetch(`http://localhost:8080/api/users/reset-password/${code}`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ newPassword }),
        });
        const data = await response.json();
        console.log(data);
    });
</script>
