<h1>Hola {{nombre}}</h1>
<p>Bienvenido a mi app</p>
<a href="#" id="logout">Cerrar sesión</a>

<script>
    document.getElementById("logout").addEventListener("click", async (e)  => {
        e.preventDefault();
        const response = await fetch("http://localhost:8080/api/auth/logout", {
            method: "GET"
        });
        const data = await response.json();
        if(data.status === "success") {
            window.location.href = "http://localhost:8080/login";
        }
    });
</script>