<!-- views/layouts/main.handlebars -->
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Mi App</title>
</head>
<body>

  {{{body}}}  <!--  aquí se inyecta cada vista -->

</body>
</html>